@import "tailwindcss";

body {
  background: #191919;
  font-family: var(--font-cairo), sans-serif;
}

* {
  box-sizing: border-box;
}

@theme {
  --color-main: #6f090f;
  --color-brand: #320707ea;
  --color-overlay: #320707b2;
  --color-border: #f20504;
}
.trest {
  --color-brand: #320707f3;
  background-color: #320707b2;
}
.swiper-button-next svg,
.swiper-button-prev svg {
  color: white;
  width: 30px !important;
  height: 30px !important;
  border-radius: 50%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 12px; /* arrow size */
}

h1 {
  font-size: 35px;
  font-weight: 700;
  line-height: 55px;
  color: #ffffff;
}

@media (max-width: 770px) {
  h1 {
    font-size: 21px;
  }
}

/* services */

.services .card {
  transition: all 0.3s ease;
  cursor: pointer;
}
.services .card .hover_elm {
  transition: all 0.3s ease;
}
.services .card:hover {
  transform: translateY(-12px);
}
.services .card:hover .hover_elm {
  left: 0;
}

.btn-box {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
.btn-box:hover {
  transform: scale(1.05);
}

/* services */

/* whyChoose */

.whyChoose .card {
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: transform 0.4s ease;
  border-radius: 20px;
}

.whyChoose .card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--color-overlay);
  transition: background 0.4s ease;
  border-radius: 20px;
}
.whyChoose .card:hover:before {
  background: var(--color-brand);
}
.whyChoose .card:hover {
  transform: scale(1.03);
}

/* whyChoose */

/* Features1 */

@keyframes slideGrad {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-50%);
  }
}

.feature .wrapper {
  background: linear-gradient(360deg, #000000, #330000, #660000, #990000);
}

.tint-overlay {
  inset: 0; /* shorthand for top/right/bottom/left: 0 */
  width: auto;
  height: auto;
  border-radius: 0; /* reset */
  clip-path: none; /* ensure no clipping */
  z-index: 2;
  pointer-events: none;
  mix-blend-mode: multiply;
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.09) 10%,
      rgba(0, 0, 0, 0.4) 40%,
      rgba(0, 0, 0, 0.75) 66%,
      rgba(0, 0, 0, 0.9) 80%
    )
    0 0 / 200% 100%;
  position: absolute;

  animation: 3s ease-in-out infinite alternate slideGrad;
}
/* Features1 */

/* Features2 */
@keyframes shine {
  0% {
    left: -100%;
  }
  100% {
    left: 150%;
  }
}
.shine-overlay {
  position: absolute;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.3),
    transparent
  );
  animation: shine 3s infinite;
}
/* Features2 */

/* contact-form */
.contact-form {
  background-image: url("/service3.webp");
  background-size: cover;
}
/* contact-form */

/* floating-buttons*/
@keyframes pulseAnimation {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
  }

  50% {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
  }
}
.floating-buttons {
  position: fixed;
  bottom: 50px;
  left: 25px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.floating-buttons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  color: white;
  font-size: 30px;
  text-decoration: none;
  transition: transform 0.2s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  animation: pulseAnimation 1s infinite;
}

.floating-buttons .whatsapp {
  background-color: #25d366;
}
.floating-buttons .call {
  background-color: #e53935;
}

/* floating-buttons*/
